/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

:root {
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --slate-300: #cbd5e1;
  --slate-900: #0f172a;
}
